* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 1em;
    background-color: rgb(0, 44, 56);
}

body::-webkit-scrollbar-thumb {
    background-color: #0ef;
}

body {
    background-color: rgb(0, 48, 65);
    color: #ffffff;

}

.reveal {
    transform: translateY(30px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.newactive {
    transform: translateY(0px);
    opacity: 1;
}


/* header CSS */
.Navbar-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: background-color 0.4s ease-in-out;

}

.Navbar-header.scrolled {
    position: fixed;
    background-color: rgb(0, 44, 56);
    opacity: 0.99;

}

.logo {
    position: relative;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.10rem;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    transition: background-color 0.4s ease-in-out;

}

.logo.scrolled {
    position: fixed;
    color: #ffffff;
    opacity: 0.98;
}

.logo:hover {
    color: #cbcbcb;
    cursor: pointer;

}

/* Navbar */

.navbar {
    width: auto;
}

.nav-menu {
    float: right;

}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-item {
    margin: 0 0.20rem;

}

.nav-link {
    display: inline-block;
    font-size: 20px;
    color: #ffffff !important;
    text-decoration: none;
    font-weight: 550;
    position: relative;
    margin-right: 28px;
    overflow: hidden;
    transition: .3s;
    opacity: 0;
    display: block;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    overflow: hidden;
    transition: background-color 0.4s ease-in-out;
}

.nav-link.scrolled {
    color: #ffffff;
    opacity: 0.98;
}

.first {
    position: absolute;
    transform: translateY(100%);
    transition: all .3s linear;

}

.nav-link:hover .first,
.nav-link.active .first {
    transform: translateY(0);
    color: #0ef;
}


.second {
    position: relative;
    display: block;
    transition: all .3s linear;
}

.nav-link:hover .second,
.nav-link.active .second {
    transform: translateY(-100%);

}


/* Home Page */
.Home {
    position: relative;
    justify-content: left;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    background-image: url(/ai.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 10% 0;
    opacity: 0;
    transition: .3s ease;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;

}
    
.home-content {
    max-width: 600px;

}

.greet {
    letter-spacing: 0.23rem;
    color: #ffff;
}

.home-content div {
    font-size: 32px;

}

.home-content .myname {
    font-size: 42px;
    margin: -3px 0;
    color: #ffff;
}

.home-content .name {
    color: rgb(0, 135, 159);
    letter-spacing: 0.23rem;
    font-size: 42px;
    font-weight: 550;
    margin: -3px 0;
    text-transform: uppercase;
}

#typed-text {
    color: #ffffff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 24px;
}

.home-content div:nth-of-type(2) {
    margin-bottom: 15px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 22px;
    color: #0ef;
    text-decoration: none;
    margin: 18px 15px 30px 0;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    border: 1px solid transparent;
    letter-spacing: 1px;
    margin-right: 9px;
    transition: .5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

/* About page */

.about-section {
    width: 100%;
    height: 120vh;
    margin-top: 12px;
    padding-top: 153px;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 40px;
    opacity: 0;
    transition: .3s ease;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;

}



.about-title {
    color: #ffffff;
    font-size: 32px;
    font-family: 'poppins-medium', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.20rem;
    text-align: center;
    padding: 20px 10px;
}

.about-text {
    width: 460px;

}

.about-self {
    color: darkcyan;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-name {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.about-text p {
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 9px;

}

.about-text a {
    display: inline-block;
    padding: 8px 15px;
    background: rgb(0, 139, 149);
    border-radius: 40px;
    font-size: 22px;
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 750;
    margin-right: 16px;
    margin-top: 16px;
}

.about-text a:hover {
    opacity: 0.7;
}

.about-content {
    margin-top: 20px;
    height: 380px;
    max-width: 94%;
    margin-left: 16px;
    margin-right: 16px;
    padding: 35px 0px 0px;
    border: 2px solid tra;
    background-color: rgb(0, 55, 70);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;

}

.about-img {
    height: 300px;
    width: 300px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.about-content img {
    margin: 10px 10px;
    height: 275px;
    width: 275px;
    border-radius: 50%;
    box-shadow:0 0 70px cyan, 0 0 0px cyan;

}


/* 
Skills CSS */
.skills-section {
    width: 100%;
    height: 100vh;
    margin-top: 16px;
    padding-top: 74px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 40px;
    opacity: 0;
    transition: .3s ease;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;

}

.skills-title {
    color: #ffffff !important;
    font-size: 32px;
    font-family: 'poppins-medium', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.20rem;
    text-align: center;
    margin: 16px 0;
}

.section-line {
    display: flex;
    justify-content: center;

}

.line-title {
    height: 2px;
    width: 170px;
    background: #ffffff;
    /* background: linear-gradient(to right,red,red,orange, orange,orange, yellow, lightgreen, skyblue,blue); */
}



.skills-section .row {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-gap: 3rem;

}

.skills-section .item {
    padding: 0.5rem 0;
    margin: 0.3rem 0;

}

#tool {
    grid-column-start: 3;
    grid-column-end: 10;
}

#tool-1 {
    grid-column-start: 10;
    grid-column-end: 17;

}

.skills-section .item-text {
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    background-color: rgba(2, 4, 5, 0.386);
    align-items: center;
    width: 100%;
    height: 48px;
    border-radius: 4px;

}

.skills__icon {
    margin: 0 10px;
    font-size: 1.95rem;
    color: #0ef;
}

.skills-section .item-text span:last-child {
    position: absolute;
}

.skills-section .item-text .w-95 {
    margin-left: 90%;
}

.skills-section .item-text .w-85 {
    margin-left: 80%;
}

.skills-section .item-text .w-75 {
    margin-left: 70%;
}

.skills-section .item-text .w-95 {
    margin-left: 90%;
}

.skills-section .item-text .w-90 {
    margin-left: 85%;
}

.skills-section .item-text .w-75 {
    margin-left: 70%;
}

.progress {
    border-radius: 10px;
    height: 3px;
    width: 100%;
    background-color: rgb(3, 23, 29);
    overflow: hidden;

}

.progress-bar {
    background: linear-gradient(to right, blue, skyblue, lightgreen, yellow, orange, orange, orange, red, red);
    height: 3px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.progress-bar.w-95 {
    width: 95%;
}

.progress-bar.w-85 {
    width: 85%;
}

.progress-bar.w-75 {
    width: 75%;
}

.progress-bar.w-85 {
    width: 85%;
}

.progress-bar.w-90 {
    width: 90%;
}

.progress-bar.w-75 {
    width: 75%;
}


/* Project page */
.project {
    width: 100%;
    height: 100%;
    margin-top: 22px;
    padding-top: 74px;
    padding-bottom: 32px;
    padding-right: 16px;
    padding-left: 16px;
    opacity: 0;
    transition: .3s ease;
    animation: slideBottom 1s ease forwards;
    animation-delay: 2s;
}

.project-heading {
    color: #ffffff !important;
    font-size: 32px;
    font-family: 'poppins-medium', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.20rem;
    text-align: center;
    padding: 12px 10px;

}

.all-items {
    display: grid;
    justify-content: center;
    margin-top: 1rem;
}

.project .item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 750px;
    padding-top: 22px;
    margin-bottom: 2rem;

}

#Project .item:nth-child(even) {
    flex-direction: row-reverse;

}

#Project .item .left {
    flex: 1;

}

#Project .item .right {
    flex: 1;
    margin-left: -125px;
    line-height: 1.60rem;
    background-color: rgb(0, 55, 70);
    padding: 1.50rem 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px #000000;
    z-index: 2;
}

.project-title {
    letter-spacing: 0.10rem;
    color: #ffffff;
    margin-bottom: 0.50rem;

}

.project-desc {
    font-size: 14px;
    color: #ffffff;
    font-weight: lighter;
    margin-bottom: 1.50rem;
}

#Project .item:nth-child(even) .right {
    margin-left: 0;
}

#Project .item:nth-child(even) .left {
    margin-left: -125px;
}

#Project .item .left .img {
    height: 320px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    /* box-shadow: 0px 0px 20px #4705fc33; */
    position: relative;

}

#Project img {
    width: 420px;
    height: 320px;

}

.buttons a {
    margin-right: 12px;
}

.primary-btn-1 {
    padding: 10px 18px;
    background: rgb(0, 139, 149);
    color: #ffffff;
    text-decoration: none;
    border-radius: 22px;
    border: 1px solid #ffffff;
}

.primary-btn-1:hover {
    opacity: 0.7;
}

.primary-btn {
    padding: 10px 18px;
    background: rgb(0, 139, 149);
    color: #ffffff;
    text-decoration: none;
    border-radius: 22px;
    border: 1px solid #ffffff;

}

.primary-btn:hover {
    opacity: 0.7;
}

.buttons svg {
    width: 18px;
}

#Project .item .left .img::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#Project .item .left .img img {
    transition: 0.3s ease transform;
}

#Project .item:hover .left .img img {
    transform: scale(1.1);
    z-index: 1;
}



/* Contact page */

.contact-section {
    width: 100%;
    height: 120vh;
    margin-top: 16px;
    padding-top: 64px;
    padding-bottom: 32px;
    padding-right: 32px;
    padding-left: 32px;
    opacity: 0;
    transition: .3s ease;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;


}

.contact-title {
    color: #ffffff !important;
    font-size: 32px;
    font-family: 'poppins-medium', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.20rem;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.container-right {
    display: flex;

}

.container-left {
    display: inline-block;
}

.contact-heading {
    font-size: 28px;
    font-weight: 700;
}

.container-left p {
    margin-top: 30px;

}

.container-left p i {
    color: #0ef;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;

}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #0ef;
    transform: translateY(-5px);
}

.btn {
    display: inline-block;
    color: #ffffff;
    margin-top: 30px;
    font-weight: 600;
    background: rgb(0, 139, 149);
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 4px;
    border: 1px solid #ffffff;

}

.btn:hover {
    opacity: 0.7;
}

.container-right form {
    margin-top: 48px;
    width: 450px;
    height: 380px;
    display: flex;
    justify-content: left;
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
    padding-top: 16px;
}

.container-right form input {
    width: 500px;
    height: 46px;
    padding: 12px 17px;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 15px;
    background: none;
    border: 2px solid #0ef;
    border-radius: 6px;

}

.container-right form input::placeholder {
    color: #cbcbcb;

}

.container-right form textarea::placeholder {
    color: #cbcbcb;

}

.container-right form textarea {
    background: none;
    border: 2px solid #0ef;
    border-radius: 6px;
    color: #ffffff;
    font-size: 15px;
    padding: 12px 17px;
    outline: none;
    min-width: 450px;
    max-width: 400px;
    min-height: 150px;
    max-height: 150px;
}

.container-right form #send {
    width: max-content;
    height: max-content;
    font-weight: 600;
    color: #ffffff;
    padding: 12px 36px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: rgb(0, 139, 149);
    font-size: 20px;
    text-align: center;
    border: 1px solid #ffffff;
}

.container-right form #send:hover {
    opacity: 0.7;
    cursor: pointer;
}

#msg {
    display: block;
    color: #ababab;
    padding: 12px 22px;

}


/* Footer */


#footer-container {
    position: relative;
    justify-content: center;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 5% 0;
    padding-bottom: 40px;
    width: 100%;
    height: 40vh;
    background-color: rgb(0, 69, 88);
    transition: .3s ease;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;

}

.footer-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    margin-right: 16px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 22px;
    color: #0ef;
    text-decoration: none;

}

.footer-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}


.footer-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 22px;
    margin-bottom: 22px;
}

.footer-item {
    margin: 10px 1.40rem;
    margin-bottom: 1rem;

}

.footer-link {
    display: inline-block;
    font-family: 'karla', sans-serif;
    font-size: 14.90px;
    color: #ffffff;
    text-decoration: underline;
    font-weight: 500;
    position: relative;
    overflow: hidden;

}

.footer-item a:hover {
    opacity: 0.7;
}

.special-line {
    font-family: 'karla', sans-serif;
    font-size: 14.90px;
    font-weight: 700;
    background: linear-gradient(36deg, blue, blue, skyblue, red, red);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

}

.special-line:hover {
    opacity: 0.7;
    cursor: pointer;
}

nav .fas {
    display: none;
}



@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;

    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media only screen and (min-width:1599px) and (max-height :2000px) {


    .Navbar-header {
        padding: 40px 10%;
    }

    .Home {
        justify-content: left;

    }

    .home-content {
        margin-top: 5%;
        width: 800px;
    }

    .home-content .greet {
        font-size: 36px;

    }

    .home-content .myname {
        font-size: 40px;

    }

    .home-content .name {
        font-size: 40px;

    }

    .home-content #typed-text {
        font-size: 25px;
        letter-spacing: 0.10rem;

    }

    .home-sci a {
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: 24px;
        width: 48px;
        height: 48px;

    }

    .btn-box {
        font-size: 18px;

    }

    .nav-link {
        font-size: 20px;
    }

    h2.about-title {
        font-size: 35px;
    }

    .about-section {
        padding-top: 15%;
        height: 120vh;
    }

    .about-content {
        display: flex;
        margin-top: 30px;
        justify-content: space-evenly;
        
    }

    .about-img {
        height: 330px;
        width: 330px;
        margin-right: 90px;
       

    }

    .about-content img {
        height: 305px;
        width: 305px;
    }

    .about-self {
        text-transform: uppercase;
    }

    .about-name {
        text-transform: uppercase;
    }

    .about-text {
        width: 700px;
    }

    .about-text p {
        font-size: 20px;
        color: #cbcbcb;
        line-height: 2.50rem;
        margin-bottom: 15px;
    }

    .about-content a {
        font-size: 20px;
        padding: 16px 25px;
    }

    .section-line {
        display: flex;
        justify-content: center;

    }

    h2.line-title {
        height: 2px;
        width: 190px;
        background: #ffffff;

    }
    .about-content{
        height: 480px;
    }

    h2.skills-title {
        font-size: 35px;
    }

    .skills-section {
        padding-top: 10%;
    }

    .skills-section .skills__icon {
        font-size: 32px;
    }

    .skills-section .item-text {
        display: flex;
        justify-content: flex-start;
        font-size: 1.20rem;
        margin-top: 5%;
        height: 55px;
        border-radius: 5px;

    }


    #Project {
        padding-top: 6.5%;

    }

    .project-heading {
        font-size: 35px;
    }


    .container {
        align-items:first baseline;
        justify-content: space-evenly;
        height: 100%;

    }
    .contact-title {
        font-size: 35px;
        padding: 20px 20px;
    }

    .contact-heading {
        font-size: 32px;
    }

    .container-left p {
        font-size: 18px;
    }

    .container-left p i {
        font-size: 30px;
    }

    .social-icons a {
        font-size: 30px;
    }

    .btn {
        font-size: 18px;
    }

    .container-right form input {
        border: 3px solid #0ef;
        font-size: 20px;
        padding: 12px 17px;
    }

    .container-right form textarea {
        border: 3px solid #0ef;
        font-size: 20px;
        padding: 12px 17px;
        outline: none;

    }

    .contact-section{
        padding-top: 6%;
    }
    .container-right form #send {
        font-weight: 700;
        font-size: 20px;
        padding: 12px 35px;

    }

    .footer-sci a {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 40px;
        font-size: 30px;
        width: 50px;
        height: 50px;

    }

    #footer-container {
        height: 48vh;
    }

    .footer-item {
        margin-right: 45px;
    }

    .footer-link {
        font-size: 25px;
        text-decoration: underline;
    }

    .special-line p{
        margin-top: 50px;
        font-size: 24px;
    }

}

@media only screen and (max-width:600px) {
    .logo {
        font-size: 23px;

    }

    .Home {
        justify-content: flex-start;
        background-image: url(/smallai.jpg);

    }

    .home-content {
        margin-top: 30px;
        font-size: 16px;
        text-align: left;

    }

    .home-content .greet {
        font-size: 25px;

    }

    .home-content .myname {
        font-size: 25px;

    }

    .home-content .name {
        font-size: 25px;

    }

    .home-content #typed-text {
        font-size: 20px;
        letter-spacing: 0.10rem;

    }

    .home-content .home-sci a {
        margin-top: 5px;
        margin-bottom: 30px;
    }

    nav .fas {
        display: block;
        font-size: 35px;
    }

    div.nav-list {
        display: grid;
    }

    nav ul {
        background: rgb(0, 92, 92);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    .Navbar-header {
        padding-right: 20px;
        background-color: rgb(0, 49, 62);

    }

    .nav-item {
        display: block;
        margin: 25px;
    }

    .nav-link.active .first {
        color: #ffffff;
    }


    .nav-link:hover .first,
    .nav-link.active .first {
        transform: translateY(0);
        color: #000000;
    }


    .fa-bars {
        float: right;
        opacity: 0;
        animation: slideLeft 1s ease forwards;
        transition: background-color 0.3s ease-in-out;

    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 20px;
        cursor: pointer;
    }

    nav.navbar {
        width: 120px;
        padding: 10px;

    }

    h2.about-title {
        font-size: 30px;
        padding: 15px 10px;
    }

    .about-img {
        width: 225px;
        height: 225px;
        justify-self: center;
        margin-top: 15px;
        border-radius: 12px;
        box-shadow: none;
    }

    .about-content img {
        flex-basis: 100%;
        margin-bottom: 30px;
        width: 200px;
        height: 200px;
        border-radius: 12px;
        box-shadow: none;
    }

    .about-section {
        height: 150vh;
        padding: 150px 25px 20px 25px;
    }

    .about-content {
        display: grid;
        justify-content: center;
        border: none;
        background: none;

    }
   
    .about-text {
        flex-basis: 100%;
        width: 300px;
        margin-top: 40px;
        border: 1px solid #000000;
        padding: 20px 20px;
        border-radius: 12px;
        background-color: rgb(0, 55, 70);

    }

    .about-text p {
        font-size: 14px;
        line-height: 1.50rem;
    }

    .about-text a {
        font-size: 16px;
        margin-top: 10px;
        padding: 10px 16px;
    }

    .skills-section {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-top: 0;
        height: fit-content;
    }

    .skills-section .row {
        display: block;
    }

    .all-items {
        padding: 0 5%;
    }

    .project .item .left {
        margin: 0 1%;
        margin-top: 30px;
    }

    .project .item {
        display: block;
        padding: 0 10%;
        justify-content: center;
    }

    .project {
        padding-top: 32%;
        overflow-x: hidden;
    }

    #Project .item .right {
        flex: 0;
        margin-left: 0px;
        margin-top: 30px;
    }

    #Project .item .right p {
        font-size: 16px;
        color: #ffffff;
    }

    #Project .item .right a {
        font-size: 16px;
        font-weight: 600;
    }

    #Project .item:nth-child(even) .left {
        justify-content: center;
        margin: 0 1%;
    }

    .container {
        display: block;

    }

    .contact-section {
        height: 160vh;
        padding: 115px 30px 20px 30px;
    }

    .container-left h1 {
        margin-top: 50px;
        font-size: 22px;
    }

    .container-right form {
        justify-content: left;
        height: 450px;
    }

    .container-right form input {
        width: 300px;
    }

    .container-right form textarea {
        min-width: 300px;
        max-width: 300px;
        min-height: 150px;
        max-height: 150px;
    }
    .container-right form input#send{
        font-size: 17px;
        padding: 12px 26px;
    
    }

    #msg {
        display: inline;
        justify-self: left;
        width: 300px;
        color: #ababab;
        padding: 5px 0px;

    }

    #footer-container {
        height: 35vh;
        padding-bottom: 10px;
    }

    .footer-item {
        margin: 10px;
    }

    .footer-link {
        text-decoration: underline;
    }

    .special-line {
        background: linear-gradient(36deg, blue, skyblue, red);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;

    }
}